section h1 {
  background-color: rgb(137, 174, 242);
  color: rgb(0, 255, 42);
}

header{
  text-align:center;
}

body {background-color: grey;
  color:white;
}

header h1:hover{
  color:red;
}

#summary:hover{
  color:rgb(236, 248, 7);
}